body {
    background-image: url('https://www.phoenixmag.com/wp-content/uploads/2020/10/AdobeStock_284425885-1280x945.jpeg');
    background-position: center;
}

img#meme-img {
    height: 450px;
    width: 400px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

h1#title {
    text-align: center;
    font-style: italic;
    color:rgb(220, 20, 60);
    background-image: linear-gradient(black, purple, black);
}

p {
    text-align: center;
    font-size: 30px;
    /*
    font-family: cursive;  
    color:  */
}